table {
    border-collapse: collapse;
    width: 100%;
    }
    
th, td {
    text-align: left;
    padding: 8px;
    }
th{
	background-color:#005a8b;
	color:white;
}
td:nth-child(odd) .expand{
	background-color: #f2f2f2 !important;
}
td:nth-child(odd) .expand{
	background-color: transparent !important;
}
tr:nth-child(1){
	border-bottom:white 1pt solid;
}
tr:nth-child(odd) {background-color: #f2f2f2;}
tr:nth-child(even) {background-color: transparent;}
.success{
    border-radius: 10px;
	border: 1px solid #005a8b !important;
	background-color: #005a8b;
	color: white !important;
	font-size: 14px;
	padding: 10px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	
}

.danger{
    border-radius: 10px;
	border: 1px solid #005a8b !important;
	background-color: #005a8b;
	color: white !important;
	font-size: 14px;
	padding: 10px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

