.login {
    text-align: center;
    display: flex;
    min-height: 100vh;
    
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #F7F7FC;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    min-width: 40vh;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      background-color: #1B1C1E;
      border-radius: 10px;
      margin: 0.8rem;
    
    }
  }
  .maxwidthDiv{
    width:100%;
  }
  .labelText {
    text-align:left;
    width:100%;
  }
  
  .resetSpacing{

    width:100%;
  }
  .link-btn {
    max-width:100%;
    border-color:none;
    background: none;
    color: white;
    text-decoration: underline;
  }

  @media screen and (max-width: 600px) {
    .login {
        text-align: center;
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #1B1C1E;
    
      }
  
  }
  label {
    text-align: left;
    padding: 0.25rem 0;
 
    
  }
  
  input {
   
    margin: 0.5rem 0;
    padding: 0.8rem !important;
    border: none;
    border-radius: 10px;
    
  }
  
  .codeErr{
    text-align:center;
  }
  button {
    border: none;
    background-color: white;
    margin-top:10px;
    padding: 10px !important;
    border-radius: 10px;
    cursor: pointer;
    color: #1B1C1E;
    font-family: 'Source Sans Pro', sans-serif;
    border-color: white;
  }

  button:hover{

   
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
  }
  .error{
    font-size: 0.7rem;
    font-weight: 500;
    color: red;
    margin-top: 0.2rem;  
  }
  .link-btn {

    border-color:none;
    background: none;
    color: white;
    text-decoration: underline;
  }
  .link-btn:hover {
    
    background-color:none!important;

    border: none;

  }